/* Tailwind Stuff */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Components */
@import "./overview.css";

/* text aliasing */
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

path {
  shape-rendering: geometricPrecision;
}

a {
  color: inherit;
  text-decoration: none;
}

.rounded-xl {
  border-radius: 1.5rem;
}

/* Fonts */
/* @font-face {
  font-family: 'Open Sans';
  src: url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400&display=swap');
} */

html,
body {
  padding: 0;
  margin: 0;
  @apply bg-gray-500;
  font-family: 'Open Sans', sans-serif;
}

/* Container override LG */
@media (min-width: 1600px) {

  .container {
    max-width: 1450px;
  }
}
/* @media (min-width: 1280px) {

  .container {
    max-width: 1380px;
  }
} */

/* Arrows */
.arrow-up,
.arrow-down {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}
.arrow-up {
  border-bottom: 10px solid #02C751;
}

.arrow-down {
  border-top: 10px solid #F52C38;
}

/* gradients */
.gr-blue {
  background: rgb(0,125,241);
  background: linear-gradient(90deg, rgba(0,125,241,1) 0%, rgba(0,241,231,1) 100%);
}
.gr-purple {
  background: rgb(117,23,248);
  background: linear-gradient(90deg, rgba(117,23,248,1) 0%, rgba(227,35,255,1) 100%);
}
.gr-yellow {
  background: rgb(255,89,36);
  background: linear-gradient(90deg, rgba(255,89,36,1) 0%, rgba(255,181,36,1) 100%);
}
